# --- macOS ---

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r (Icon file with custom icon)
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# 忽略某个目录
/upload/
# 忽略任意目录下的 upload 目录
upload/
